<div id="container">
    <header>
        <a href="javascript:;"><i class="iconfont">&#xe6df;</i></a>
        <a href="javascript:;">购物车</a>
        <a href="javascript:;">完成</a>
    </header>
    <section>
        <div id="top">
            <p><input type="checkbox"><b>全选</b></p>
            <p><i class="iconfont">
                &#xe688;</i></p>
        </div>
        <div class="main">
            <dl>
                <input type="checkbox">
                <dt>
                    <img ng-src="Content/images/2.png">
                </dt>
                <dd>
                    <h2>产品名称</h2>
                    <p class="ps">
                        描述描述描述描述描述描述描述描述描述描述描述描述描述..
                    </p>
                    <p class="prices-main">
                        <a href="javascript:;">25.60￥</a>
                        <a href="javascript:;"><span>-</span><b>2</b><span>+</span><i>库存100件</i></a>
                    </p>
                </dd>
            </dl>
            <dl>
                <input type="checkbox">
                <dt>
                    <img ng-src="Content/images/2.png">
                </dt>
                <dd>
                    <h2>产品名称</h2>
                    <p class="ps">
                        描述描述描述描述描述描述描述描述描述描述描述描述描述..
                    </p>
                    <p class="prices-main">
                        <a href="javascript:;">25.60￥</a>
                        <a href="javascript:;"><span>-</span><b>2</b><span>+</span><i>库存100件</i></a>
                    </p>
                </dd>
            </dl>
            <dl>
                <input type="checkbox">
                <dt>
                    <img ng-src="Content/images/2.png">
                </dt>
                <dd>
                    <h2>产品名称</h2>
                    <p class="ps">
                        描述描述描述描述描述描述描述描述描述描述描述描述描述..
                    </p>
                    <p class="prices-main">
                        <a href="javascript:;">25.60￥</a>
                        <a href="javascript:;"><span>-</span><b>2</b><span>+</span><i>库存100件</i></a>
                    </p>
                </dd>
            </dl>
        </div>
    </section>
    <footer>
        <a href="javascript:;"><i class="iconfont">&#xe6df;</i></a>
        <a href="javascript:;"><i class="iconfont">&#xe6e1;</i></a>
        <a href="javascript:;"><i class="iconfont">&#xe631;</i></a>
        <a href="javascript:;"><i class="iconfont">&#xe614;</i></a>
        <a href="javascript:;"><i class="iconfont">&#xe649;</i></a>
    </footer>
</div>